<div id="banner">
    <div class="banner-info">
      <h1>Welcome to Handers</h1>
      <p class='my-3'>Buy local, help global!</p>
      <a href="#" class=".btn-lg secondary-btn">DISCOVER</a>
    </div>
  </div>
