<!-- <div id="banner">
    <div class="banner-info">
      <h1>Welcome to Handers</h1>
      <p class='my-3'>Buy local, help global!</p>
      <a href="#" class=".btn-lg secondary-btn">DISCOVER</a>
    </div>
  </div> -->





  <div class="">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="overlay"></div>
              <img src="https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?cs=srgb&dl=pexels-pixabay-461049.jpg&fm=jpg" style="width:100%" alt="...">
              <div class="carousel-caption caption-custom d-md-block d-flex flex-column justify-content-center align-items-center py-5">
                <h1 class="font-weight-bold">Welcome to Handers</h1>
                <p class="">Discover amazing products near you!</p>

              </div>
            </div>
            <div class="carousel-item">
               <div class="overlay"></div>
              <img src="https://images.pexels.com/photos/159935/pexels-photo-159935.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%" alt="...">
              <div class="carousel-caption caption-custom d-md-block d-flex flex-column justify-content-center align-items-center py-5">
                <h1 class="font-weight-bold">Discover</h1>
                <p class="">Increase fundraising for your cause with Handers!</p>

              </div>
            </div>
            <div class="carousel-item">
               <div class="overlay"></div>
              <img src="https://images.pexels.com/photos/808967/pexels-photo-808967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%" alt="...">
              <div class="carousel-caption caption-custom d-md-block d-flex flex-column justify-content-center align-items-center py-5">
                <h1 class="font-weight-bold">Help your favorite NPO</h1>
                <p class="">Choose who you want to help</p>

              </div>
            </div>
          </div>
          <div class="button-floter">
              <%= link_to "Get Started", products_path, class: 'btn-lg main-btn'  %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

  </div>


