<!-- Footer Menu -->
    <nav class="navbar-custom">
      <ul class="navbar-nav-custom">

        <li class="nav-item-custom">
          <a href="/" class="nav-link nav-link-custom">
            <i class="fas fa-home fa-primary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="#favorites" class="nav-link nav-link-custom">
            <i class="far fa-heart fa-primary"></i>
          </a>
        </li>

        <li class="nav-item-custom li-plus">
          <a href="/products/new" class="nav-link nav-link-custom plus-button">
            <i class="fas fa-plus fa-secondary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="#messages" class="nav-link nav-link-custom">
            <i class="far fa-comment fa-primary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="/profile" class="nav-link nav-link-custom">
          <% if current_user %>
            <%if current_user.avatar.attachment.nil? %>
              <%= image_tag 'https://api.adorable.io/avatars/285/abott@adorable.png', :width => 40, :height => 40, :crop => :fill, class: 'avatar-menubar'%>
            <% else %>
              <%= cl_image_tag(current_user.avatar.key, :width => 30, :height => 30, :crop => :fill, class: 'avatar-menubar')%>
            <% end %>
          <% else %>
            <i class="far fa-user fa-primary"></i>
          <% end %>
          </a>
        </li>

      </ul>
    </nav>



