<!-- Footer Menu -->
    <nav class="navbar-custom">
      <ul class="navbar-nav-custom">

        <li class="nav-item-custom">
          <a href="/" class="nav-link nav-link-custom">
            <i class="fas fa-home fa-primary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="#favorites" class="nav-link nav-link-custom">
            <i class="far fa-heart fa-primary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="/products/new" class="nav-link nav-link-custom plus-button">
            <i class="fas fa-plus fa-secondary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="#messages" class="nav-link nav-link-custom">
            <i class="far fa-comment fa-primary"></i>
          </a>
        </li>

        <li class="nav-item-custom">
          <a href="#profile" class="nav-link nav-link-custom">
            <i class="far fa-user fa-primary"></i>
          </a>
        </li>

      </ul>
    </nav>
