
  <div class="product-card">
    <div class="badge">City</div>
    <div class="product-tumb">
      <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="product-details">
        <div class="product-price">€99</div>
      <span class="product-catagory">Category: bike</span>
      <h4><a href="">Title: Great city bike</a></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
      <div class="product-bottom-details">
        <div class="product-links">
          <a href=""><i class="fa fa-heart"></i></a>
          <a href=""><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
