<!-- <h1>Show order</h1>
<%= @order.product.title %>
<br>
<%= @order.product.description %>
<br>
<%= @order.product.user.username%>
<br>
<%= @order.price %>
<br>
<%#= link_to "back to products", products_path %> -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%";alt="">
    </div>
    <div class="col-6">
      <p>Product title</p>
      <p>Product description</p>
    </div>
    <div class= "col-12 my-3">
      <button type="button" class="btn btn-info mt-2">Contact your "Hander"</button>
    </div>
  </div>



  <div>
    <h4>Your order status:</h4>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="prefix">Order date:</span>
                    <span class="label label-success">12.12.2023</span>
                </li>
                <li class="list-group-item">
                  <div class="d-flex justify-content-between">
                    <div>
                      <span class="prefix">Order status:</span>
                      <span class="label label-success">Pending</span>
                    </div>
                    <div>
                      <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Order total:</span>
                    <span class="label label-success">40€</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">As a "Hander" you had donated half of the total price to: </span>
                    <span class="label label-success">Greenpeace</span>
                </li>
                <li class="list-group-item">You can checkout more information about the cause you had donate the following link:  <a href=https://es.greenpeace.org/es/>Greenpeace</a></li>

            </ul>
  <!-- <div class="card-body">

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
  </div>
  <div class="mb-4 mt-2">
    <h5>Shipping status</h5>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Product was sent</div>
    </div>
  </div>






</div>
