<%= render "shared/banner" %>

<div class="container home-intro">
  <div class="row justify-content-md-center">

    <h3 class="text-center pt-3 px-2">HANDERS LETS YOU BUY , SELL STUFF WHILE DONATING TO YOUR FAVORITE NGO</h2>
    <div class="col-12 col-lg-4 text-center my-3">
      <i class="fas fa-shopping-cart"></i>
      <h6>Buy and sell second hand products near you</h6>
    </div>


    <div class="col-12 col-lg-4 text-center my-3">
     <i class="fas fa-handshake"></i>
      <h6>Both buyer and seller select where the money goes.</h6>
    </div>

    <div class="col-12 col-lg-4 text-center my-3">
      <i class="fas fa-hand-holding-medical"></i>
      <h6>Help suppor social projects.</h6>
    </div>
  </div>
</div>
