<%= render "shared/banner" %>

<section class="my-4">
  <div class="container">
    <div class="row">
      <div class="col">
       <h4 class="text-center pt-2 px-2 primary-color">Charitable Marketplace!</h4>
       <p class="text-center pt-2 px-2">Empower the causes you love in a way that suits you!</p>
       <p class="text-center pt-2 px-2">Buy local help global!</p>

     </div>
    </div>
  </div>
</section>

<section class="my-3">
  <div class="container">
    <div class="row">
      <div class="d-flex">
       <hr class="custom-line">
        <i class="far fa-heart"></i>
<!-- this needs to be a horizontal line  with an icon in the middle -->
      </div>
    </div>
  </div>
</section>


<section class="my-4">
  <div class="container home-intro">
    <div class="row justify-content-md-center">


        <div class="col-12 col-lg-4 text-center caption-custom my-4">
          <i class="fas fa-shopping-cart primary-color"></i>
          <p class="my-3">Buy and sell second hand products near you</p>
        </div>



      <div class="col-12 col-lg-4 text-center caption-custom my-4">
       <i class="fas fa-handshake primary-color"></i>
        <p class="my-3">Both buyer and seller select where the money goes and benefit charitable causes!</p>
      </div>

      <div class="col-12 col-lg-4 text-center caption-custom my-4">
        <i class="fas fa-hand-holding-medical primary-color"></i>
        <p class="my-3">Help support social projects.</p>
      </div>
    </div>
  </div>
</section>

<section class="my-4">
  <div class="container home-intro section-bg py-4">
    <div class="col-12 col-lg-4 text-center caption-custom my-4">
      <h4>Are you a charity?</h4>
      <p>Connect with people who care about your cause! Reach more people and raise more money with Handers</p>
      <p>Receive direct donations from people that care about your cause</p>
      <a href="#" class="btn-lg secondary-btn"> <strong>Register your NPO</strong> </a>
    </div>
  </div>
</section>
