#banner {
  background-image: url('https://images.pexels.com/photos/163703/woods-landscape-road-loyalsock-state-forest-163703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
 height: 50vh;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;

/* filter: blur(8px);
  -webkit-filter: blur(8px);*/
}

.carousel-item img {
 height: 60vh;
  object-fit: cover;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  z-index: 0;
}

.button-floter {
  position: absolute;
    bottom: 75px;
    z-index: 10;
    width: 100%;
    text-align: center;
}

h1 {
  font-size: 42px;
}

.banner-info {
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 1.1em;
}


.carousel-caption {
  p {
    opacity: .8;
  }
}
/* btn */
.secondary-btn {
  background: #fff;
  color: #0D4445;
  padding: 12px 50px;
  border: 2px solid #fff;
  border-radius: 10px;
}


.home-intro i {
  font-size: 2.4rem;
}

.caption-custom {
  top: 80px;
}

.box-color1{
  background-color: #d2f6c5;
  align-content: center;
}

.caption-custom{
  height: 100%;
}

.body-text-grey {
  color: #6b6b6b
}

.primary-color {
  color: #0D4445;
}

.section-bg{
  color: white;
  background-color: #0D4445;
}

.custom-line {
  text-align: left;
    margin-left: 0;
       margin-top: 12px;
    border: 1px solid #0a4734
}

.caption-custom {
  i {
    margin-bottom: 20px;
  }
}

 .line-separator {
  opacity: .3;
    color: #f38181;
    i {
      font-size: 30px;
    }
  }
@media (max-width: 775px) {
  .caption-custom{
    top: 0;
    height: 100%;
  }
}
