:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: white;
  --bg-secondary: white;
  --transition-speed: 600ms;
}


body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  padding: 1rem;
  margin: 0;
}

.navbar-custom {
  position: fixed;
  background-color: var(--bg-primary);
  bottom: 0;
  width: 100vw;
  height: 60px;
  z-index: 1010;
  // box-shadow: 0 0 60px rgba(0, 0, 0, 0.28);
}

.navbar-nav-custom {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.09);
}

.nav-item-custom {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link-custom {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
  justify-content: center;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link-custom svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #0D4445;
}

.fa-secondary {
  color: white;
}

a.plus-button {
  background: #0D4445;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.nav-item-custom>a>i {
  font-size: 32px;
}

li.li-plus {
display: flex;
justify-content: space-around;
}
