a {
  text-decoration: none !important;
}


.main-btn {
  background: #054734;
  color: #fff;
  padding: 12px 50px;
  border-radius: 10px;
}

.secondary-btn {
  background: #fff;
  color: #054734;
  padding: 12px 50px;
  border: 1px solid #504734;
  border-radius: 10px;
}
