a {
  text-decoration: none !important;
}


.main-btn {
  background: #F38181;
  color: #fff;
  /* padding: 12px 50px; */
  width: 180px;
  border-radius: 10px;
}

.secondary-btn {
  background: #fff;
  color: #0D4445;
  padding: 12px 50px;
  border: 1px solid #504734;
  border-radius: 10px;
}

.btn-handers {
  background-color: #F38181;
  color: white;
}

.btn-handers:focus {
  box-shadow: 0 0 0 0.2rem rgba(243,129,129,.5);
}

.btn-handers:hover {
  color: white;
}

.btn-handers-outline {
  border-color: #F38181;
  color: #F38181;
}

.btn-handers-outline:focus {
  box-shadow: 0 0 0 0.2rem rgba(243,129,129,.5);
}

.btn-handers-outline:hover {
  color: #F38181;
}


