a {
  text-decoration: none !important;
}


.main-btn {
  background: #F38181;
  color: #fff;
  /* padding: 12px 50px; */
  width: 180px;
  border-radius: 10px;
}

.secondary-btn {
  background: #fff;
  color: #0D4445;
  padding: 12px 50px;
  border: 1px solid #504734;
  border-radius: 10px;
}
