// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "buttons";
@import "banner";
@import "bottom-menu";
@import "user-forms";
@import "cards";
@import "product-forms";
@import "profile";
@import "nav__pills";
@import "chatroom";

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 65px;
  font-family: 'DM Sans', sans-serif;
}

.price-category {
  color: #054734;
}

.mr-100 {
  margin-top: 100px;
}

.p-title {
  color: black;
}

.btn-buyproduct {
  background-color: #F38181;
  color: white;
}
.p-description {
  font-size: 14px;
  opacity: 0.7;
  color: #054734;
}

.pending {
  background-color: #fbe184;
  color: white;
  font-weight: bolder;
}

.pending:hover {
  color: white;
  font-weight: bolder;
}

.pending:focus {
  box-shadow: none;
}

.cancelled {
  background-color: #FF728B;
  color: white;
  font-weight: bolder;
}

.cancelled:hover {
  color: white;
  font-weight: bolder;
}

.cancelled:focus {
  box-shadow: none;
}

.completed {
  background-color: #9ED4A3;
  color: white;
  font-weight: bolder;
}

.completed:hover {
  color: white;
  font-weight: bolder;
}

.completed:focus {
  box-shadow: none;
}

.form-control{
  border: 1px solid rgba(49, 56, 72, 0.15);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
