// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "buttons";
@import "banner";
@import "bottom-menu";
@import "user-forms";
@import "cards";
@import "product-forms";

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 65px;
  font-family: 'DM Sans', sans-serif;
}

.price-category {
  color: #054734;
}

.p-title {
  color: black;
}

.btn-buyproduct {
  background-color: #F38181;
  color: white;
}
.p-description {
  font-size: 14px;
  opacity: 0.7;
  color: #054734;
}

.pending {
  background-color: #E8E48A;
  color: white;
}
.cancelled {
  background-color: #FF728B;
  color: white;
}

.completed {
  background-color: #9ED4A3;
  color: white;
}

.form-control{
  border: 1px solid rgba(49, 56, 72, 0.15);
}
