.custom-product-container h2 {
  margin: 0px 0 20px 0;
}

.custom-productshow-container h2 {
  margin: 8px 0 20px 0;
}


// Photos input
.inputfile-products {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-products+label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}


.inputfile-products:focus+label,
.inputfile-products.has-focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-products+label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
  color: white;
  background-color: #F38181;
}

.inputfile-products+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile-products__photos+label {
  color: white;
  background-color: #F38181;
}

.inputfile-products__photos:focus+label,
.inputfile-products__photos.has-focus+label,
.inputfile-products__photos+label:hover {
  background-color: #F38181;
}

.rounded-label-product {
  border-radius: 5px;
  background: #F38181;
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  border: 1px solid #F38181;
}

.rounded-label-reverse-product {
  border-radius: 5px;
  border: 1px solid #F38181;
  background: white;
  padding: 5px 10px;
  color: #F38181;
  font-size: 1rem;
}
