a.custom-forgot-link {
  color: #0D4445;
  padding: 5px 0;
  display: block;
}

.custom-p-login {
  text-align: center;
  margin: 5px 0;
}

.custom-login-container h2 {
  margin: 30px 0 20px 0;
}

.custom-p-small {
  font-size: 10px;
  margin-top: 15px;
}

.thumbnail {
  position: relative;
  width: 182px;
  margin: 40px 0;
}

#new_npo {
  .preview-img {
    width: 110px;
     height: auto
  }
  .number {
    display: none
  }
}

.thumbnail .number {
color: white;
background: #f38181;
width: 30px;
border-radius: 50%;
right: -90px;
position: absolute;
top: -10px;
margin-left: 15px;
height: 30px;
text-align: center;
padding-top: 3px;
}

.preview-img{
  height: 120px;
  width: 170px;
  border-radius: 10px;
  border: 10px;
  margin-left: 90px;
  object-fit: cover;
}


// Avatar input
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}


.inputfile:focus+label,
.inputfile.has-focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
    color: white;
    background-color: #0D4445;
}

.inputfile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile__avatar+label {
  color: white;
  background-color: #0D4445;
}

.inputfile__avatar:focus+label,
.inputfile__avatar.has-focus+label,
.inputfile__avatar+label:hover {
  background-color: #0D4445;
}

.rounded-label-user {
  border-radius: 5px;
  background: #0D4445;
  padding: 5px 20px;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #0D4445;
}

.rounded-label-reverse-user {
  border-radius: 5px;
  border: 1px solid #0D4445;
  background: white;
  padding: 5px 10px;
  color: #0D4445;
  font-size: 1rem;
}

