.custom-form-btn {
  width: 100%;
  background-color: #054734;
  border: 1px solid #054734;
}

.custom-btn-reverse {
  width: 100%;
  background-color: #FFF;
  color: #054734;
  border: 1px solid #054734;
}

a.custom-forgot-link {
  color: #054734;
  padding: 5px 0;
  display: block;
}

.custom-p-login {
  text-align: center;
  margin: 5px 0;
}

.custom-login-container h2 {
  margin: 20px 0;
  text-align: center;
}

.custom-login-container input {
  border: 1px solid #054734;
}

.custom-p-small {
  font-size: 10px;
  margin-top: 15px;
}