// Graphical variables
// @import "config/colors";
// @import "config/bootstrap_variables";
@import "config/fonts";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";

.custom-marker {
  padding: 90px;
  border-radius: 50%;
  background-color: #f381814f;
  background-blend-mode: screen;
  border: 3px solid #f38181;
}

