<div class="container">
  <h3>Filters</h3>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-6">
      <a href="/products/<%= product.id %>">
        <div class="card card-handers">
          <img class="card-img-top" src="<%= cl_image_path product.photos.first.key, quality: 100, crop: :fill %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>
