<% @products.each do |product|%>
<h1><%= product.id %><%= link_to "Edit", edit_product_path(product) %> <%= link_to "Show", product_path(product) %> </h1>
<% end %>
<%= link_to "Add new product", new_product_path %>
